<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
          <div class='task'>
            <% if(investment.image){ %>
              <img src = "<%= investment.image %>">
            <% } %>
            <div class="taskInfo">
              <h1><%= investment.title %></h1>
              <h3>Carbon Saved: <%= investment.carbon_reduce_possibility %></h3>
              <p><%= investment.description %></p>
            </div>
          </div>
</body>
</html>