<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/checkNav.ejs') %>
    <div class='allCards'>
    <% if(investments.length > 0){ %>
        <% for(let i = 0; i < investments.length; i++){ %>
          <div id="investment<%=investments[i]._id%>"class='task'>
            <a href="/investment?id=<%= investments[i]._id %>">
            <% if(investments[i].image){ %>
              <img src = "<%= investments[i].image %>">
            <% } %>
            <div class="taskInfo">
              <h1><%= investments[i].title %></h1>
              <h3>Carbon Saved: <%= investments[i].carbon_reduce_possibility %></h3>
              <p><%= investments[i].description %></p>
            </div>
            </a>
          </div>
          <% if(completed[i]) { %> 
            <script>
              document.getElementById("investment<%=investments[i]._id%>").classList.add('complete')
            </script>
          <% } %>
        <% } %>
      <% }  else{ %>
        <h1 class='black'>No Investments</h1>
      <% } %>
    </div>
</body>
</html>