<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/checkNav.ejs') %>
          <div class='task'>
            <% if(task.image){ %>
              <img src = "<%= task.image %>">
            <% } %>
            <div class="taskInfo">
              <h1><%= task.title %></h1>
              <h3>Carbon Saved: <%= task.carbon_reduce_possibility %></h3>
              <p><%= task.description %></p>
            </div>
          </div>
</body>
</html>