<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/checkNav.ejs') %>
          <div id='task' class='task solo'>
            <% if(task.image){ %>
              <img src = "<%= task.image %>">
            <% } %>
            <div class="taskInfo">
              <h1><%= task.title %></h1>
              <h3>Carbon Saved: <%= task.carbon_reduce_possibility %></h3>
              <p><%= task.description %></p>
              <% if (notification == "Not set"){ %>
                <p class="notification">Current notification: Not Set</p>
              <% } else { %>
                <p class="notification">Current notification: <%= notification %></p>
              <% } %>
              <form action='/setTime' method='post'>
                <input class = "time" type='number' name='length' placeholder="Length">
                <select name='time'>
                  <option value='days'>Days</option>
                  <option value='hours'>Hours</option>
                  <option value='minutes'>Minutes</option>
                </select>
                <input type="hidden" value="<%= task.id %>" name='taskid'>
                <input type='submit' value='Set Time' class='taskbtn'>
              </form>
              <a href="/completeTask?id=<%= task.id %>"><input type="submit" class="taskbtn" value="Complete"></a>
              <form action = '/deleteTask' method = 'post'>
                <input type="hidden" value="<%= task.id %>" name='taskid'>
                <input id="delete" type='submit' value='Delete Task' class='taskbtn'>
              </form>
            </div>
          </div>
    <% if(complete){ %>
      <script>
        let task = document.getElementById("task")
        task.classList.add('complete')
        function interval(current, final) {
          let newH1 = document.createElement('h1');
          let x = setInterval(() => {
            console.log(final-current)
            if (Math.round(current) >= Math.round(final)){
              location.reload()
              clearInterval(x);
            };
            const seconds = Math.floor(((final-current)) % 60);
            const minutes = Math.floor(((final-current) / 60) % 60);
            const hours = Math.floor(((final-current) / 60 / 60) % 24);
            const days = Math.floor(((final-current) / 60 / 60/ 24) % 365);
            newH1.innerHTML = days + " days, " + hours + " hours, " + minutes + " minutes, " + seconds + " seconds";
            task.append(newH1);
            current += 1;
          }, 1000)
         }
        let currentTime = Math.round(new Date().getTime() / 1000)
        let notificationTime = Math.round(Number("<%=notifTime%>") / 1000)
        console.log(currentTime)
        console.log(notificationTime)
        interval(currentTime, notificationTime)
        let submits = document.querySelectorAll("input[type='submit']");
        submits.forEach((submit) => {
          submit.setAttribute("disabled", true);
        })
      </script>
    <% } %>
</body>
</html>