<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/checkNav.ejs') %>
          <div class='task'>
            <% if(task.image){ %>
              <img src = "<%= task.image %>">
            <% } %>
            <div class="taskInfo">
              <h1><%= task.title %></h1>
              <h3>Carbon Saved: <%= task.carbon_reduce_possibility %></h3>
              <p><%= task.description %></p>
              <form action='/setTime' method='post'>
                <input type='number' name='length'>
                <select name='time'>
                  <option value='days'>Days</option>
                  <option value='hours'>Hours</option>
                  <option value='minutes'>Minutes</option>
                </select>
                <input type="hidden" value="<%= task.id %>" name='taskid'>
                <input type='submit' value='Set Time' class='loginbtn'>
              </form>
              <button><a href="/complete?id=<%= task.id %>">Complete</a></button>
              <form action = '/deleteTask' method = 'post'>
                <input type="hidden" value="<%= task.id %>" name='taskid'>
                <input type='submit' value='Delete Task' class='loginbtn'>
              </form>
            </div>
          </div>
</body>
</html>